In [ ]:
import pandas as pd

'2.3.1'

In [7]:
bites = pd.read_csv('Louisville_Metro_KY_Environmental_Health_Bulk_Data_Animal_Bites_Bulk_Data_3438179908666991130.csv')
bites.head(10)

,id,bite_date,SpeciesIDDesc,BreedIDDesc,breed,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,FollowupYNDesc,ObjectId
0,527953,2012-12-11 00:00:00,DOG,NaN,STAFFORSDHIRE,MALE,BRINGLE,0,NaN,0,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,1
1,527953,2012-12-11 00:00:00,DOG,NaN,STAFFORSDHIRE,MALE,BRINGLE,0,NaN,0,NaN,BODY,NaN,NaN,NaN,NaN,NaN,YES,2
2,655033,2018-06-20 00:00:00,DOG,PIT BULL,NaN,FEMALE,GRAY,0,NaN,40118,NaN,HEAD,NaN,NaN,NaN,NaN,NaN,NO,3
3,655033,2018-06-20 00:00:00,DOG,PIT BULL,NaN,FEMALE,GRAY,0,NaN,40118,NaN,HEAD,NaN,NaN,NaN,NaN,NaN,YES,4
4,669266,2019-02-06 00:00:00,DOG,MIN PIN,NaN,MALE,BROWN,0,NaN,40059,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,5
5,669266,2019-02-06 00:00:00,DOG,MIN PIN,NaN,MALE,BROWN,0,NaN,40059,NaN,BODY,NaN,NaN,NaN,NaN,NaN,YES,6
6,670534,2019-03-05 00:00:00,DOG,NaN,TERRIER,MALE,BLK TAN,0,NaN,40299,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,7
7,670534,2019-03-05 00:00:00,DOG,NaN,TERRIER,MALE,BLK TAN,0,NaN,40299,NaN,BODY,NaN,NaN,NaN,NaN,NaN,YES,8
8,676856,2019-06-04 00:00:00,DOG,GERM SHEPHERD,NaN,MALE,TRI,0,2018-06-06 00:00:00,40291,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,9
9,676856,2019-06-04 00:00:00,DOG,GERM SHEPHERD,NaN,MALE,TRI,0,2018-06-06 00:00:00,40291,NaN,BODY,NaN,NaN,NaN,NaN,NaN,YES,10

In [ ]:
bites.isnull().sum() * 100 / len(bites)

id                    0.000000
bite_date             9.316472
SpeciesIDDesc         0.608292
BreedIDDesc          55.674724
breed                79.141988
GenderIDDesc         44.117176
color                27.085001
vaccination_yrs       0.000000
vaccination_date     79.894349
victim_zip            0.000000
AdvIssuedYNDesc      99.759885
WhereBittenIDDesc    11.925724
quarantine_date      99.935969
DispositionIDDesc    99.967985
head_sent_date       89.450936
release_date         83.992316
ResultsIDDesc        89.354890
FollowupYNDesc        0.000000
ObjectId              0.000000
dtype: float64

In [13]:
bites.sort_values(by='bite_date')

,id,bite_date,SpeciesIDDesc,BreedIDDesc,breed,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,FollowupYNDesc,ObjectId
285,708139,1950-08-19 00:00:00,DOG,GOLD RETRIEVER,NaN,MALE,GOLD,0,2020-07-01 00:00:00,0,NaN,HEAD,NaN,NaN,NaN,2020-11-10 00:00:00,NaN,NO,286
286,708139,1950-08-19 00:00:00,DOG,GOLD RETRIEVER,NaN,MALE,GOLD,0,2020-07-01 00:00:00,0,NaN,HEAD,NaN,NaN,NaN,2020-11-10 00:00:00,NaN,YES,287
3296,732018,1971-09-25 00:00:00,DOG,PIT BULL,NaN,NaN,BLK/WHIT/,0,NaN,40212,NaN,BODY,NaN,NaN,NaN,NaN,NaN,YES,3297
3295,732018,1971-09-25 00:00:00,DOG,PIT BULL,NaN,NaN,BLK/WHIT/,0,NaN,40212,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,3296
283,708138,1984-07-21 00:00:00,DOG,MASTIF,NaN,MALE,BLACK,1,2021-02-01 00:00:00,40210,NaN,HEAD,NaN,NaN,NaN,2020-11-09 00:00:00,NaN,NO,284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12425,809111,NaN,CAT,NaN,NaN,NaN,NaN,0,NaN,40242,NaN,NaN,NaN,NaN,2025-07-17 00:00:00,NaN,NEGATIVE,YES,12426
12436,809508,NaN,BAT,NaN,NaN,NaN,NaN,0,NaN,40272,NaN,NaN,NaN,NaN,2025-07-16 00:00:00,NaN,UNKNOWN,NO,12437
12437,809508,NaN,BAT,NaN,NaN,NaN,NaN,0,NaN,40272,NaN,NaN,NaN,NaN,2025-07-16 00:00:00,NaN,UNKNOWN,YES,12438
12444,809953,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,12445
12445,809953,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,YES,12446

In [17]:
bites['id'].nunique()

6247

In [19]:
bites.drop_duplicates(subset='id', keep='first', inplace=True)
bites

,id,bite_date,SpeciesIDDesc,BreedIDDesc,breed,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,FollowupYNDesc,ObjectId
0,527953,2012-12-11 00:00:00,DOG,NaN,STAFFORSDHIRE,MALE,BRINGLE,0,NaN,0,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,1
2,655033,2018-06-20 00:00:00,DOG,PIT BULL,NaN,FEMALE,GRAY,0,NaN,40118,NaN,HEAD,NaN,NaN,NaN,NaN,NaN,NO,3
4,669266,2019-02-06 00:00:00,DOG,MIN PIN,NaN,MALE,BROWN,0,NaN,40059,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,5
6,670534,2019-03-05 00:00:00,DOG,NaN,TERRIER,MALE,BLK TAN,0,NaN,40299,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,7
8,676856,2019-06-04 00:00:00,DOG,GERM SHEPHERD,NaN,MALE,TRI,0,2018-06-06 00:00:00,40291,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12484,810721,2025-09-05 00:00:00,DOG,PIT BULL,NaN,FEMALE,WHITE,0,NaN,40216,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,12485
12486,810730,2025-09-05 00:00:00,DOG,PIT BULL,MIX,MALE,BROWN,0,NaN,40245,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,12487
12488,810735,2025-09-07 00:00:00,DOG,OTHER,BELG MALINOIS,MALE,TAN/BLCK,1,2025-03-17 00:00:00,40206,NaN,BODY,NaN,NaN,NaN,2025-09-17 00:00:00,NaN,NO,12489
12490,810739,2025-09-05 00:00:00,DOG,NaN,NaN,NaN,NaN,0,NaN,40229,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,12491
12492,810795,2025-09-05 00:00:00,DOG,PIT BULL,NaN,MALE,BLCK/WHT,3,2023-01-17 00:00:00,40214,NaN,BODY,NaN,NaN,NaN,2025-09-22 00:00:00,NaN,NO,12493

I noticed that there are two breed columns. Many records only have information in one of these columns, however, some mix breed dogs have both columns.

In [ ]:
def combine_breeds(row):
    b1 = row['BreedIDDesc']
    b2 = row['breed']
    if pd.notna(b1) and pd.notna(b2):
        return f'{b1} / {b2}'
    elif pd.notna(b1):
        return b1
    else:
        return b2

bites['breed_cleaned'] = bites.apply(combine_breeds, axis=1)

,id,bite_date,SpeciesIDDesc,BreedIDDesc,breed,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,FollowupYNDesc,ObjectId,breed_cleaned
0,527953,2012-12-11 00:00:00,DOG,NaN,STAFFORSDHIRE,MALE,BRINGLE,0,NaN,0,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,1,STAFFORSDHIRE
2,655033,2018-06-20 00:00:00,DOG,PIT BULL,NaN,FEMALE,GRAY,0,NaN,40118,NaN,HEAD,NaN,NaN,NaN,NaN,NaN,NO,3,PIT BULL
4,669266,2019-02-06 00:00:00,DOG,MIN PIN,NaN,MALE,BROWN,0,NaN,40059,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,5,MIN PIN
6,670534,2019-03-05 00:00:00,DOG,NaN,TERRIER,MALE,BLK TAN,0,NaN,40299,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,7,TERRIER
8,676856,2019-06-04 00:00:00,DOG,GERM SHEPHERD,NaN,MALE,TRI,0,2018-06-06 00:00:00,40291,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,9,GERM SHEPHERD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12484,810721,2025-09-05 00:00:00,DOG,PIT BULL,NaN,FEMALE,WHITE,0,NaN,40216,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,12485,PIT BULL
12486,810730,2025-09-05 00:00:00,DOG,PIT BULL,MIX,MALE,BROWN,0,NaN,40245,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,12487,PIT BULL / MIX
12488,810735,2025-09-07 00:00:00,DOG,OTHER,BELG MALINOIS,MALE,TAN/BLCK,1,2025-03-17 00:00:00,40206,NaN,BODY,NaN,NaN,NaN,2025-09-17 00:00:00,NaN,NO,12489,OTHER / BELG MALINOIS
12490,810739,2025-09-05 00:00:00,DOG,NaN,NaN,NaN,NaN,0,NaN,40229,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,12491,NaN
12492,810795,2025-09-05 00:00:00,DOG,PIT BULL,NaN,MALE,BLCK/WHT,3,2023-01-17 00:00:00,40214,NaN,BODY,NaN,NaN,NaN,2025-09-22 00:00:00,NaN,NO,12493,PIT BULL

In [23]:
bites.sort_values(by='bite_date').head(20)

,id,bite_date,SpeciesIDDesc,BreedIDDesc,breed,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,FollowupYNDesc,ObjectId,breed_cleaned
285,708139,1950-08-19 00:00:00,DOG,GOLD RETRIEVER,NaN,MALE,GOLD,0,2020-07-01 00:00:00,0,NaN,HEAD,NaN,NaN,NaN,2020-11-10 00:00:00,NaN,NO,286,GOLD RETRIEVER
3295,732018,1971-09-25 00:00:00,DOG,PIT BULL,NaN,NaN,BLK/WHIT/,0,NaN,40212,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,3296,PIT BULL
283,708138,1984-07-21 00:00:00,DOG,MASTIF,NaN,MALE,BLACK,1,2021-02-01 00:00:00,40210,NaN,HEAD,NaN,NaN,NaN,2020-11-09 00:00:00,NaN,NO,284,MASTIF
5015,769718,2002-09-23 00:00:00,DOG,AMER FOX HOUND,NaN,MALE,WHITE BRN,0,NaN,40216,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,5016,AMER FOX HOUND
5499,774607,2002-12-22 00:00:00,DOG,NaN,NaN,MALE,BRINDLE,0,NaN,40214,NaN,BODY,NaN,NaN,2023-12-22 00:00:00,NaN,NEGATIVE,NO,5500,NaN
305,708226,2003-10-31 00:00:00,DOG,POMERANIAN,TERRIER MIX,FEMALE,BLK/BRWN/W,0,NaN,40205,NaN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NO,306,POMERANIAN / TERRIER MIX
0,527953,2012-12-11 00:00:00,DOG,NaN,STAFFORSDHIRE,MALE,BRINGLE,0,NaN,0,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,1,STAFFORSDHIRE
281,708137,2014-06-14 00:00:00,DOG,ROTTWEILER,NaN,FEMALE,BLACK/BROW,1,2020-01-25 00:00:00,0,NaN,BODY,NaN,NaN,NaN,2020-11-09 00:00:00,NaN,NO,282,ROTTWEILER
2,655033,2018-06-20 00:00:00,DOG,PIT BULL,NaN,FEMALE,GRAY,0,NaN,40118,NaN,HEAD,NaN,NaN,NaN,NaN,NaN,NO,3,PIT BULL
16,687562,2018-11-22 00:00:00,DOG,HUSKY,NaN,MALE,BRN WHT,0,NaN,40299,NaN,HEAD,NaN,NaN,NaN,NaN,NaN,NO,17,HUSKY
4,669266,2019-02-06 00:00:00,DOG,MIN PIN,NaN,MALE,BROWN,0,NaN,40059,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,5,MIN PIN
6,670534,2019-03-05 00:00:00,DOG,NaN,TERRIER,MALE,BLK TAN,0,NaN,40299,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,7,TERRIER
8,676856,2019-06-04 00:00:00,DOG,GERM SHEPHERD,NaN,MALE,TRI,0,2018-06-06 00:00:00,40291,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,9,GERM SHEPHERD
10,677492,2019-06-21 00:00:00,DOG,NaN,UNKNOWN,NaN,BROWN,0,NaN,40216,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,11,UNKNOWN
12,678336,2019-07-05 00:00:00,DOG,NaN,NaN,NaN,BLK WHT,0,NaN,40291,NaN,HEAD,NaN,NaN,NaN,NaN,NaN,NO,13,NaN
14,678606,2019-07-10 00:00:00,DOG,BORDER COLLIE,NaN,NaN,BLK WHT,0,NaN,40218,NaN,HEAD,NaN,NaN,NaN,NaN,NaN,NO,15,BORDER COLLIE
10267,797507,2020-01-22 00:00:00,DOG,NaN,CAROLINA DOG MI,FEMALE,TAN BLK,1,2024-03-21 00:00:00,40118,NaN,BODY,NaN,NaN,NaN,2025-02-05 00:00:00,NaN,NO,10268,CAROLINA DOG MI
18,690022,2020-01-26 00:00:00,DOG,CHICHAUHUA,NaN,MALE,WHITE/TAN,0,NaN,40291,NaN,HEAD,NaN,NaN,NaN,NaN,NaN,NO,19,CHICHAUHUA
20,690567,2020-02-02 00:00:00,DOG,CHICHAUHUA,NaN,NaN,NaN,0,NaN,40218,NaN,HEAD,NaN,NaN,NaN,2020-02-12 00:00:00,NaN,NO,21,CHICHAUHUA
22,690908,2020-02-09 00:00:00,DOG,CANE CORSO,NaN,NaN,RED,1,2020-02-11 00:00:00,40245,NaN,HEAD,NaN,NaN,NaN,2020-02-21 00:00:00,NaN,NO,23,CANE CORSO

The bite_date column is in date time but the time is 00:00:00 for all entries.

In [27]:
bites['bite_date'] = pd.to_datetime(bites['bite_date']).dt.date

In [28]:
bites.sort_values(by='bite_date').head()

,id,bite_date,SpeciesIDDesc,BreedIDDesc,breed,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,FollowupYNDesc,ObjectId,breed_cleaned
285,708139,1950-08-19,DOG,GOLD RETRIEVER,NaN,MALE,GOLD,0,2020-07-01 00:00:00,0,NaN,HEAD,NaN,NaN,NaN,2020-11-10 00:00:00,NaN,NO,286,GOLD RETRIEVER
3295,732018,1971-09-25,DOG,PIT BULL,NaN,NaN,BLK/WHIT/,0,NaN,40212,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,3296,PIT BULL
283,708138,1984-07-21,DOG,MASTIF,NaN,MALE,BLACK,1,2021-02-01 00:00:00,40210,NaN,HEAD,NaN,NaN,NaN,2020-11-09 00:00:00,NaN,NO,284,MASTIF
5015,769718,2002-09-23,DOG,AMER FOX HOUND,NaN,MALE,WHITE BRN,0,NaN,40216,NaN,BODY,NaN,NaN,NaN,NaN,NaN,NO,5016,AMER FOX HOUND
5499,774607,2002-12-22,DOG,NaN,NaN,MALE,BRINDLE,0,NaN,40214,NaN,BODY,NaN,NaN,2023-12-22 00:00:00,NaN,NEGATIVE,NO,5500,NaN

In [31]:
bites['bite_date'] = pd.to_datetime(bites['bite_date'])
bites['year'] = bites['bite_date'].dt.year
bites_per_year = bites.groupby('year').size()
bites_per_year

year
1950.0       1
1971.0       1
1984.0       1
2002.0       2
2003.0       1
2012.0       1
2014.0       1
2018.0       2
2019.0       6
2020.0     281
2021.0    1019
2022.0    1136
2023.0    1012
2024.0    1148
2025.0    1051
2026.0       1
2027.0       1
dtype: int64